{% extends 'base.html' %}
{% block contenido %}
<div class="general">


<div class="jumbotron formulario">
  <h1>Carga masiva de factores</h1>
  <h3>Indica el archivo con la información</h3>
  <form  method="POST" action="" enctype="multipart/form-data">

    <br>
    {{forma.hidden_tag()}}
    {% for m in get_flashed_messages() %}
      {% if m[0]==false%}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

          </button>
      {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>

          </button>

      {% endif %}
          {{ m[1] }}
      </div>

    {% endfor %}

<strong>{{forma.accion.label}}</strong>  <br>{{forma.accion()}}
    <strong>{{forma.archivo.label}}</strong>  <br>{{forma.archivo()}}
    <ul>
    {% for error in forma.archivo.errors %}
      <li style="color:red;"> {{ error }} </li>
    {% endfor %}
    </ul>


<br>
    {{forma.realizar(class="btn btn-outline-primary")}}


  </form>

</div>

{% endblock %}

</div>
