{% extends 'base.html' %}
{% block contenido %}
<div class="general">


<div class="jumbotron formulario">
  <h1>Documentos</h1>
  <h3>Agrega los documentos solicitados</h3>
  <form  method="POST" action="" enctype="multipart/form-data">

    <br>
    {{forma.hidden_tag()}}
    {% for m in get_flashed_messages() %}
      {% if m[0]==false%}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

          </button>
      {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>

          </button>

      {% endif %}
          {{ m[1] }}
      </div>

    {% endfor %}

    
    <strong>{{forma.ine.label}}</strong>  <br>{{forma.ine()}}
    <ul>
    {% for error in forma.ine.errors %}
      <li style="color:red;"> {{ error }} </li>
    {% endfor %}
    </ul>

    {% if current_user.perfil=='Administrador' %}

    <strong>{{forma.comp_domicilio.label}}</strong>  <br>{{forma.comp_domicilio()}}
    <ul>
    {% for error in forma.comp_domicilio.errors %}
      <li style="color:red;"> {{ error }} </li>
    {% endfor %}
    </ul>

    {% else %}

    {% endif %}



<br>
    {{forma.realizar(class="btn btn-outline-primary")}}


  </form>

</div>

{% endblock %}

</div>
