

{% extends 'base.html' %}
{% block contenido %}
<div class="general">

<div class="jumbotron formulario">
  <h1>Cambiar contraseña</h1>
  <h3></h3>
  <br>
  <form  method="POST">
    {{nvo.hidden_tag()}}

{% for m in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>¡Lo sentimos!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

    {{ m[1] }}

    </div>
{% endfor %}

    <strong>{{nvo.email.label}}</strong> {{nvo.email(class="form-control")}} <br>
    <strong>{{nvo.ant_password.label}}</strong> {{nvo.ant_password(class="form-control")}} <br>
    <strong>{{nvo.nvo_password.label}}</strong> {{nvo.nvo_password(class="form-control")}} <br>
    <strong>{{nvo.confirm_nvo_password.label}}</strong> {{nvo.confirm_nvo_password(class="form-control")}} <br>

    <ul>
    {% for error in nvo.nvo_password.errors %}
    <li style="color:red;"> {{ error }} </li>
    {% endfor %}
    </ul>


    {{nvo.cambiar(class="btn btn-outline-primary")}} <br>

</form>
</div>

{% endblock %}


</div>
