

{% extends 'base.html' %}


{% block contenido %}
<div class="general">
<div class="formulario jumbotron">


  
<h1>Banco del Bienestar</h1>
  
<h2>Sistema de Crédito para la originación del crédito a MiPYMES </h2> <br><br>
<h3>Este sistema es propiedad del Banco del Bienestar. La información almacenada en sus bases de datos
  fue simulada para la realización de pruebas y <strong>no corresponde a algún cliente o beneficiario del banco.</strong>  </h3>
<br><br><br>
  <h4>(VERSIÓN DE PRUEBA 1.0)</h4>

<br>
<br>
<div class="">
  
<p>
  
  </p>

</div>

<br>


</div>
<br><br>


{% endblock %}
</div>
