{% extends 'base.html' %}
{% block contenido %}
<div class="general">

<div class="jumbotron formulario">
  <h1>Umbral de crédito</h1>

  <strong></strong>
  <H2>El valor actual del umbral de crédito es: {{umbral_actual}} </H2>
 
  <h3>Indica el valor del nuevo umbral</h3>
  <form  method="POST">
    <br>


    {{forma.hidden_tag()}}
    {% for m in get_flashed_messages() %}
      {% if m[0]==false%}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

          </button>
      {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>

          </button>

      {% endif %}
          {{ m[1] }}
      </div>

    {% endfor %}

      <hr class="my-4">
      <strong>{{forma.umbral.label}}</strong> {{forma.umbral(class="form-control",placeholder="Puntaje")}} <br>
    <ul>
    {% for error in forma.umbral.errors %}
      <li style="color:red;"> {{ error }} </li>
    {% endfor %}
    </ul>



    <strong>{{forma.cambiar_umbral(class="btn btn-outline-primary")}}


  </form>

</div>

{% endblock %}


</div>
